
version: "2"
services:
  nginx:
    container_name: nginx-jenkins
    image: "nginx:1.20-alpine"
    volumes:
      - {{ vol_dir }}/app-jenkins/nginx/conf.d:/etc/nginx/conf.d:ro
      - {{ vol_dir }}/app-jenkins/jenkins/log/nginx:/var/log/nginx
      - {{ vol_dir }}/jenkins/log/nginx/jenkins:/var/log/nginx/jenkins
    restart: always
    ports:
      - "80:80"
      - "443:443"

  jenkins:
    container_name: jenkins
    image: "jenkins:v1.0"
    volumes:
      - {{ vol_dir }}/app-jenkins/jenkins/jenkins_home:/var/jenkins_home
    restart: always
    depends_on:
      - nginx

{% if offline_mode %}
  gogs:
    container_name: gogs
    image: "gogs/gogs:latest"
    volumes:
      - {{ vol_dir }}/app-jenkins/gogs:/data
    ports:
      - "3000:3000"
    restart: always
{% endif %}

networks:
  default:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: {{ docker_network }}
          gateway: {{ docker_network_gateway }}
